
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container-fluid">
          <h5>Filmler</h5>
          
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
               
              </li>
              <li class="nav-item">
               
              </li>
              <li class="nav-item">
                
              </li>
            </ul>
            <span class="navbar-text">
              10.07 - 17.07 tarihleri arasında vizyondaki filmler
            </span>
          </div>
        </div>
      </nav>
     <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://tr.web.img4.acsta.net/pictures/23/04/20/08/50/2513648.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hızlı ve Öfkeli 10</h5>
                  <p class="card-text" >Aksiyon/Macera</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">2 saat 21 dakika</li>
                  <li class="list-group-item">Salon: 3</li>
                  <li class="list-group-item">Vizyon Saati: 19.00</li>
                  <li class="list-group-item">Türkçe Dublaj</li>
                </ul>
                <div class="card-body">
                  <a routerLink="/salon3_1" class="card-link">Koltuk Ayırtmak İçin Tıklayın</a>
                  
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://tr.web.img4.acsta.net/pictures/23/05/29/13/18/1235933.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Barbie</h5>
                  <p class="card-text">Komedi/Kurgusal</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1 saat 54 dakika</li>
                  <li class="list-group-item">Salon: 2</li>
                  <li class="list-group-item">Vizyon Saati: 17.00</li>
                  <li class="list-group-item">Türkçe Altyazılı</li>
                </ul>
                <div class="card-body">
                  <a routerLink="/salon2_1" class="card-link">Koltuk Ayırtmak İçin Tıklayın</a>
                  
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/81fk-N7tvbL._AC_UF894,1000_QL80_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">John Wick 4</h5>
                  <p class="card-text">Aksiyon/Neo-Noir</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">2 saat 48 dakika</li>
                  <li class="list-group-item">Salon: 1</li>
                  <li class="list-group-item">Vizyon Saati: 18.00</li>
                  <li class="list-group-item">Türkçe Dublaj</li>
                </ul>
                <div class="card-body">
                  <a routerLink="/salon1" class="card-link">Koltuk Ayırtmak İçin Tıklayın</a>
                 
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://tr.web.img4.acsta.net/pictures/22/12/23/08/24/1169095.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Örümcek-Adam: Örümcek Evrenine Geçiş</h5>
                  <p class="card-text">Aksiyon/Macera</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">2 saat 16 dakika</li>
                  <li class="list-group-item">Salon: 3</li>
                  <li class="list-group-item">Vizyon Saati: 16.00</li>
                  <li class="list-group-item">Türkçe Altyazılı</li>
                </ul>
                <div class="card-body">
                    <a routerLink="/salon3_2" class="card-link">Koltuk Ayırtmak İçin Tıklayın</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://lumiere-a.akamaihd.net/v1/images/image_a7a3ac34.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Elemental: Doğanın Güçleri</h5>
                  <p class="card-text">Animasyon/Komedi</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1 saat 43 dakika</li>
                  <li class="list-group-item">Salon: 2</li>
                  <li class="list-group-item">Vizyon Tarihi: 14.00</li>
                  <li class="list-group-item">Türkçe Dublaj</li>
                </ul>
                <div class="card-body">
                  <a routerLink="/salon2_2" class="card-link">Koltuk Ayırtmak İçin Tıklayın</a>
                </div>
              </div>
        </div>
     </div>